* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}
.App {
  text-align: center;
}

.mask-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fa-fiexed {
  width: 20px;
  position: relative;
  top: 3px;
  right: 3px;
  color: #032535;
  font-size: 1.5rem;
}
.mask-fix {
  width: 45%;
}

.searchArea {
  background-color: #fff;
  max-width: 100%;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  position: relative;
}

.form-check {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.form-check .checkbox-fix {
  position: absolute;
  top: 10px;
}

input[type="checkbox"] {
  width: 20px;
  vertical-align: middle;
  zoom: 130%;
}

@media (max-width: 800px) {
  .mask-fix {
    width: 100%;
  }
  .select-fix {
    display: block;
    width: 100%;
  }

  .button-fix {
    display: block;
    margin: 15px 0px 15px 0px !important;
    width: 100%;
  }
}
